# Pandas

O python possui incríveis bibliotecas, sendo muitas delas para tratamento de dados. O pandas é uma dessas incriveis ferramentas disponíveis para analise de dados. Tornando a vida de quem quer trabalhar com dados muito mais fácil. 

 O pandas ja implementa o Numpy e o Matplotlib
 
  ##### Numpy: 
   Ferramenta para trabalhar arrays e matrizes multidimencionais, implementando diversas funções numéricas para cálculos científicos
   http://www.numpy.org/
   
   
  ##### Matplotlib:
  Biblioteca criada para geração de gráficos 2D de alta qualidade, podendo ser manipulados e exibidos em diversos formatos.
  https://matplotlib.org/
  


  #### Características do Pandas
  
Contém uma gama de ferramentas:

 * Dataframe para manipulaão de dados com indexação integrada
 * Ferramentas para leitura e escrita entre estruturas de dados de diferentes formatos
 * Alinhamento de dados e manipulação de dados faltantes
 * Reformatação e articulação de conjuntos de dados
 * Separação de dados com base nos rótulos, indexação e subconjuntos de grandes conjuntos de dados
 * Inserção e exclusão da coluna a estrutura e dados.
 * Agrupamento por diferentes mecanismos, permitindo iteração entre conjuntos de dados
 * Combinando e juntano conjuntos de dados
 * Indexação de nveis hierarquicos, para trabalhar com dados de diferentes níveis
 * Series Temporais, geração de grupos de daos e conversões de frequencias, estatisticas, regressão lienar, mudança de data e atrasos




Site : https://pandas.pydata.org/


 
## Instalação
 
 Se for feita a instalação do Jupyter, ele é instalado automaticamente. 
 
```
pip install pandas
```

ou 

```
conda install pandas    
``` 


 https://pandas.pydata.org/pandas-docs/stable/install.html
 
 
 
## Utilizando o Pandas
 
 
#### Importando os 
```python
 import pandas as pd 
```
#### Importar funções especificas do Pandas
```python
from pandas import DataFrame, read_csv
```

In [47]:
 import pandas as pd

## Dataframes

A principal estrutura de dados do Pandas é o DataFrame,

O dataframe é uma estrutura tabular (linhas e colunas), Nele são armazenados os dados antes de gerar um arquivo CSV, EXCEL,

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html#pandas.DataFrame



### Criando um dataframe

cabeçalho | itens

pd.DataFrame( {"Cabeçalho" :  ['linha1', 'linha2','linha3' ] } )

In [110]:
df = pd.DataFrame({'Exemplo':["teste1","teste2","teste3"]})
df

  Exemplo
0  teste1
1  teste2
2  teste3

In [111]:
dados_Paises = {'Sigla':["BR", "PT", "US", "FR", "AU", "IT", "ES"],
              'Nome': ["Brasil", "Portugal","Estados Unidos", "França", "Austrália", "Itália", "Espanha"],
                'Idioma': ["Português","Português","Inglês", "Francês", "Inglês", "Italiano", "Espanhol"]
             }
df_paises = pd.DataFrame(dados_Paises)
df_paises
#print(df_paises)

      Idioma            Nome Sigla
0  Português          Brasil    BR
1  Português        Portugal    PT
2     Inglês  Estados Unidos    US
3    Francês          França    FR
4     Inglês       Austrália    AU
5   Italiano          Itália    IT
6   Espanhol         Espanha    ES

### Definindo um ídice para um dataframe

In [147]:
df_paises2 = df_paises.set_index('Sigla')
df_paises2.index.name = None
df_paises2

       Idioma            Nome
BR  Português          Brasil
PT  Português        Portugal
US     Inglês  Estados Unidos
FR    Francês          França
AU     Inglês       Austrália
IT   Italiano          Itália
ES   Espanhol         Espanha

In [174]:
df_paises2.head

<bound method NDFrame.head of        Idioma            Nome
BR  Português          Brasil
PT  Português        Portugal
US     Inglês  Estados Unidos
FR    Francês          França
AU     Inglês       Austrália
IT   Italiano          Itália
ES   Espanhol         Espanha>

### Selecionando uma Coluna específica

É possível trabalhar coom uma coluna específica do dataframe

In [126]:
df_paises

df_paises['Sigla']

#df_paises[['Sigla']]

0    BR
1    PT
2    US
3    FR
4    AU
5    IT
6    ES
Name: Sigla, dtype: object

### Selecionando mais de uma coluna

Definindo um array com os nomes das colunas, no seguinte formato

['Coluna1', 'Coluna3']

In [118]:
df_paises.columns

Index(['Idioma', 'Nome', 'Sigla'], dtype='object')

In [117]:
df_paises[['Sigla', 'Nome']]
#df_paises[['Sigla', 'Idioma']]
#df_paises[['Nome', 'Idioma']]

  Sigla            Nome
0    BR          Brasil
1    PT        Portugal
2    US  Estados Unidos
3    FR          França
4    AU       Austrália
5    IT          Itália
6    ES         Espanha

### Selecionando uma linha específica


É possível selecionar uma linha específica do dataframe.

In [148]:
df_paises.ix[[0]]

      Idioma    Nome Sigla
0  Português  Brasil    BR

Selecionano através do índice efinido

In [165]:
df_paises2.ix[[0]]

#df_paises2.ix[['FR']]


#df_paises2.ix[['IT']][['Nome']]

       Idioma    Nome
BR  Português  Brasil

## Lendo dados de arquivos CSV

Uma as funções mais interessantes do Pandas é permitir interagir com arquivos

In [156]:
file_1 = "brasileirao2017_a.csv"
#file_1 = "brasileirao2017_b.csv"

df_Brasileirao = pd.read_csv(file_1)

#df_Brasileirao = pd.read_csv(file_1,
                               #sep=';',
                               #index_col='Posição'
#                              )

df_Brasileirao

   Posição       Equipe  PJ  VIT  E  DER  GP  GC  SG  Pts
0        1  Corinthians  22   15  5    2  33  11  22   50
1        2       Grêmio  21   12  4    5  35  19  16   40
2        3       Santos  21   10  7    4  22  13   9   37
3        4    Palmeiras  22   11  3    8  33  25   8   36
4        5     Flamengo  22    9  8    5  31  21  10   35

In [133]:
df_Brasileirao[['Equipe','Posição','Pts'] ]

        Equipe  Posição  Pts
0  Corinthians        1   50
1       Grêmio        2   40
2       Santos        3   37
3    Palmeiras        4   36
4     Flamengo        5   35

## Importando arquivos Excel

In [37]:
file2 = "Brasileirao2017Completo.xls"
df_BrasileiraoCompleto = pd.read_excel(file2)
df_BrasileiraoCompleto

    Posição         Equipe  PJ  VIT  E  DER  GP  GC  SG  Pts
0         1    Corinthians  22   15  5    2  33  11  22   50
1         2         Grêmio  21   12  4    5  35  19  16   40
2         3         Santos  21   10  7    4  22  13   9   37
3         4      Palmeiras  22   11  3    8  33  25   8   36
4         5       Flamengo  22    9  8    5  31  21  10   35
5         6       Botafogo  22    8  7    7  25  23   2   31
6         7       Cruzeiro  21    8  6    7  25  19   6   30
7         8    Atlético-PR  22    8  6    8  25  25   0   30
8         9     Fluminense  22    7  9    6  31  29   2   30
9        10   Sport Recife  21    8  5    8  30  28   2   29
10       11       Atlético  22    8  5    9  24  26  -2   29
11       12  Vasco da Gama  22    8  4   10  23  34 -11   28
12       13    Ponte Preta  22    7  6    9  23  27  -4   27
13       14          Bahia  22    7  5   10  29  30  -1   26
14       15       Coritiba  21    7  5    9  21  26  -5   26
15       16    Chapecoense  21    7  4   10  26  34  -8   25
16       17      São Paulo  22    6  5   11  28  33  -5   23
17       18     EC Vitória  21    6  4   11  22  31  -9   22
18       19           Avaí  21    5  7    9  12  26 -14   22
19       20    Atlético-GO  22    5  3   14  18  36 -18   18

#### Ordenano o dataframe

In [211]:
df_BrasileiraoCompleto.sort_values(['Equipe'])

# df_BrasileiraoCompleto.sort_values(['Equipe'], ascending=False)

    Posição         Equipe  PJ  VIT  E  DER  GP  GC  SG  Pts
10       11       Atlético  22    8  5    9  24  26  -2   29
19       20    Atlético-GO  22    5  3   14  18  36 -18   18
7         8    Atlético-PR  22    8  6    8  25  25   0   30
18       19           Avaí  21    5  7    9  12  26 -14   22
13       14          Bahia  22    7  5   10  29  30  -1   26
5         6       Botafogo  22    8  7    7  25  23   2   31
15       16    Chapecoense  21    7  4   10  26  34  -8   25
0         1    Corinthians  22   15  5    2  33  11  22   50
14       15       Coritiba  21    7  5    9  21  26  -5   26
6         7       Cruzeiro  21    8  6    7  25  19   6   30
17       18     EC Vitória  21    6  4   11  22  31  -9   22
4         5       Flamengo  22    9  8    5  31  21  10   35
8         9     Fluminense  22    7  9    6  31  29   2   30
1         2         Grêmio  21   12  4    5  35  19  16   40
3         4      Palmeiras  22   11  3    8  33  25   8   36
12       13    Ponte Preta  22    7  6    9  23  27  -4   27
2         3         Santos  21   10  7    4  22  13   9   37
9        10   Sport Recife  21    8  5    8  30  28   2   29
16       17      São Paulo  22    6  5   11  28  33  -5   23
11       12  Vasco da Gama  22    8  4   10  23  34 -11   28

In [213]:
df_BrasileiraoCompleto.dtypes

Posição     int64
Equipe     object
PJ          int64
VIT         int64
E           int64
DER         int64
GP          int64
GC          int64
SG          int64
Pts         int64
dtype: object

In [178]:
df_BrasileiraoCompleto.index

RangeIndex(start=0, stop=20, step=1)

### Selecionando somente uma parte do dataframe

Para dataframes muito grandes, muitas vezes pode ser necessário exibir somente uma parte dele para melhor visualização.

In [154]:
df_BrasileiraoCompleto[:5]

   Posição       Equipe  PJ  VIT  E  DER  GP  GC  SG  Pts
0        1  Corinthians  22   15  5    2  33  11  22   50
1        2       Grêmio  21   12  4    5  35  19  16   40
2        3       Santos  21   10  7    4  22  13   9   37
3        4    Palmeiras  22   11  3    8  33  25   8   36
4        5     Flamengo  22    9  8    5  31  21  10   35

In [158]:
df_BrasileiraoCompleto[['Posição','Equipe','Pts']][:5]

   Posição       Equipe  Pts
0        1  Corinthians   50
1        2       Grêmio   40
2        3       Santos   37
3        4    Palmeiras   36
4        5     Flamengo   35

### Unir Data Frames arrays

In [198]:
df_Top5 = df_BrasileiraoCompleto[:5]
df_Top5

   Posição       Equipe  PJ  VIT  E  DER  GP  GC  SG  Pts
0        1  Corinthians  22   15  5    2  33  11  22   50
1        2       Grêmio  21   12  4    5  35  19  16   40
2        3       Santos  21   10  7    4  22  13   9   37
3        4    Palmeiras  22   11  3    8  33  25   8   36
4        5     Flamengo  22    9  8    5  31  21  10   35

In [199]:
df_Last5 = df_BrasileiraoCompleto[15:20]
df_Last5

    Posição       Equipe  PJ  VIT  E  DER  GP  GC  SG  Pts
15       16  Chapecoense  21    7  4   10  26  34  -8   25
16       17    São Paulo  22    6  5   11  28  33  -5   23
17       18   EC Vitória  21    6  4   11  22  31  -9   22
18       19         Avaí  21    5  7    9  12  26 -14   22
19       20  Atlético-GO  22    5  3   14  18  36 -18   18

In [197]:
frames = [df_Top5, df_Last5]
df_Top_last = pd.concat(frames)
df_Top_last

    Posição       Equipe  PJ  VIT  E  DER  GP  GC  SG  Pts
0         1  Corinthians  22   15  5    2  33  11  22   50
1         2       Grêmio  21   12  4    5  35  19  16   40
2         3       Santos  21   10  7    4  22  13   9   37
3         4    Palmeiras  22   11  3    8  33  25   8   36
4         5     Flamengo  22    9  8    5  31  21  10   35
15       16  Chapecoense  21    7  4   10  26  34  -8   25
16       17    São Paulo  22    6  5   11  28  33  -5   23
17       18   EC Vitória  21    6  4   11  22  31  -9   22
18       19         Avaí  21    5  7    9  12  26 -14   22
19       20  Atlético-GO  22    5  3   14  18  36 -18   18

## Carregando dados de um banco de dados para um dataframe

Para carregar os dados de um banco de dados, basta criar uma conexão com uma base de daos, utiliano uma engine de conexão.


```python

con = Database.connect()

query_sql = ''' SELECT *
                FROM tabela
                WHERE CAMPO = X '''

df = pd.read_sql(query_sql, con, index_col='id')

```

## Exportando DataFrame em um arquivo


O Pandas, também permite que você salve o seus dataframes em algum arquivo.

#### Exportar o DataFrame para CSV : 
```python
df.to_csv("csvFile.csv", sep=',',  encoding='utf-8', index=False)
```

#### Copiar o dataframe para  clipboard
```python
df.to_clipboard()
```

#### Exportar o DataFrame para excel
```python
writer = pd.ExcelWriter('excel.xlsx')
df.to_excel(writer,'Planilha', index=False)
writer.save()
```

#### Exportar o DataFrame para o formato HTML
```python
df.to_html()
```


#### Gerar uma saida JSON do DataFrame
```python
df.to_json()

```

#### Exportar o DataFrame para o Latex
```python
df.to_latex()
```

#### Salvar o dataframe em uma base SQL.
```python
from pandas.io import sql
import MySQLdb

con = MySQLdb.connect()

df.to_sql(con=con, name='NomeDataFrame', if_exists='replace', flavor='mysql')

sql.write_frame(df, con=con, name='NomeDataFrame', if_exists='replace', flavor='mysql')
```

In [214]:
df_Top10 = df_BrasileiraoCompleto[['Posição','Equipe','Pts']][:10]
df_Top10

   Posição        Equipe  Pts
0        1   Corinthians   50
1        2        Grêmio   40
2        3        Santos   37
3        4     Palmeiras   36
4        5      Flamengo   35
5        6      Botafogo   31
6        7      Cruzeiro   30
7        8   Atlético-PR   30
8        9    Fluminense   30
9       10  Sport Recife   29

In [215]:
writer = pd.ExcelWriter('Brasileirao.xlsx')

df_Brasileirao.to_excel(writer,'Top 5', index=False)
df_Top10.to_excel(writer,'Top 10', index=False)
df_BrasileiraoCompleto.to_excel(writer,'Geral')

writer.save()